nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    transition-duration: 0.5s;
}
.subnav{
    width: 85%;
    background-color: #bcf0ac;
    height: 10vh;
    border-radius: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    margin-right: 2%;
}
.subnav a{
    text-decoration: none;
}
.subnav:hover{
    height: 11vh;
    width: 86%;
    margin-right: 1%;
}
body{
    margin:0;
    background-color: #ecffef; 
    background-image: url("../background2e.png");
    background-size: 100% auto;
}
nav img{
    margin: 1% 0 1% 2%;
    width:7%;
}
.subnav h3{
    font-family: "poppins","";
    color: #28452a;
    font-size: 1.2em;
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.subnav h3:hover{
    font-size: 1.35em;
}
.subnav button{
    font-size: 1.2em;
    font-family: "poppins";
    font-weight: 700;
    color: #dffbe4;
    background-color: #28452a;
    border: solid 0.15em;
    border-color: #28452a;
    border-radius: 1.5em;
    padding:0.3em 1em;
    transition-duration:0.3s;
}

.subnav button:hover{
 font-size: 1.35em;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;

}
.as img{
    width: 15%;
}
.as{
    display:flex;
    flex-direction: column;
    height:60vh;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}
.row{
    display: flex;
    justify-content:space-evenly;
    align-items: end;
}
.row img{
    transition-duration: 0.25s;
}
.row img:hover{
    width:30%;
    cursor: pointer;
}
.glass{
    backdrop-filter:blur(8px);
    width: 60%;
    height: 60vh;
    border-radius: 1em;
}